<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:fragment="">
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">
                    <span class="fw-bold" th:utext="">EMAIL</span>
                    <span>with roles:</span>
                    <span>ADMIN</span>
                    <span>USER</span>
                </a>
                <a class="text-decoration-none font-weight-bold text-secondary">Logout</a>
            </div>
        </nav>
    </header>
</body>
</html>