<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Admin-panel</title>
</head>
<body>
    <div>
        <div>
            <form th:action="@{/logout}" th:method="POST">
                <input type="submit" value="Выйти"/>
            </form>
        </div>
        <br>
        <h1>Список пользователей</h1>
        <br>
        <table th:border="1px">
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="c : ${alluser}">
                <td th:utext="${c.id}"></td>
                <td th:utext="${c.username}"></td>
                <td th:utext="${c.age}"></td>
                <td th:utext="${c.email}"></td>
                <td>
                    <p th:each="role : *{c.getRoles()}" th:utext="${role.roles} + ' '"></p>
                </td>
                <td>
                    <form th:action="@{'/admin/edit/{id}' (id = ${c.id})}" th:method="GET">
                        <input type="submit" value="edit">
                    </form>
                </td>
                <td>
                    <form th:action="@{'/admin/{id}' (id = ${c.id})}" th:method="DELETE">
                        <input type="submit" value="delete">
                    </form>
                </td>
            </tr>
        </table>
        <br>
        <form th:action="@{'/admin/new'}" th:method="GET">
            <input type="submit" value="new user">
        </form>
    </div>
    <br>
    <div sec:authorize ="hasAuthority('USER')">
        <form th:action="@{'/user'}" th:method="GET">
            <input type="submit" value="user-panel">
        </form>
    </div>
</body>
</html>