<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User-panel</title>
</head>
<body>
<div>
    <div>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Выйти"/>
        </form>
    </div>
    <br>
    <table th:border="1px">
        <h1>Ваши данные:</h1>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Age</th>
            <th>Email</th>
            <th colspan="2">Role</th>
        </tr>
        <tr th:object="${usergetter}">
            <td th:utext="${usergetter.id}"></td>
            <td th:utext="${usergetter.username}"></td>
            <td th:utext="${usergetter.age}"></td>
            <td th:utext="${usergetter.email}"></td>
            <td>
                <p th:each="role : *{getRoles()}" th:utext="${role.roles} + ' '"></p>
            </td>
        </tr>
    </table>
</div>
<br>
<div sec:authorize="hasAuthority('ADMIN')">
    <form th:action="@{'/admin'}" th:method="GET">
        <input type="submit" value="admin-panel">
    </form>
</div>
</body>
</html>